<script lang="ts" setup>
import { ref } from "vue";
import SolveProblem1 from "./SolveProblem1.vue";
import SolveProblem2 from "./SolveProblem2.vue";
import SolveProblem3 from "./SolveProblem3.vue";
import SolveProblem4 from "./SolveProblem4.vue";
const tab = ref("problem0");
</script>

<template>
  <v-card>
    <v-tabs v-model="tab" align-tabs="title">
      <v-tab value="problem0"> Git Commit</v-tab>
      <v-tab value="problem1"> Problem 1 </v-tab>
      <v-tab value="problem2"> Problem 2 </v-tab>
      <v-tab value="problem3"> Problem 3 </v-tab>
      <v-tab value="problem4"> Problem 4 </v-tab>
    </v-tabs>

    <v-window v-model="tab">
      <v-window-item value="problem0">
        <v-card flat>
          <div class="ma-16 text-body">
            มีโจทย์ทั้งหมด 4 ข้อ โดยเมื่อทำเสร็จแต่ละข้อให้ commit message
            ตามที่โจทย์กำหนด
            <ol>
              <li>แต่ละข้อจะมี file เตรียมไว้ให้ตามโจทย์ ให้ทำตามคำอธิบาย</li>
              <li>ให้ commit ด้วยคำอธิบายของนิสิตเองในระหว่างข้อ</li>
              <li>เมื่อใดที่ทำเสร็จให้ commit ด้วย "Fin:ProblemX"</li>
              <li>
                เข้า form ตาม assignment เพื่อไปประเมินว่าตัวเองทำได้หรือไม่
                แนะนำให้ดูก่อน เป็นแนวทางในการทำ
                <span style="color: red"
                  >โดยหากประเมินได้ตรงจะได้คะแนนเพิ่ม
                  หากไม่ตรงจะโดนหักคะแนน</span
                >
              </li>
            </ol>
          </div>
        </v-card>
      </v-window-item>
      <v-window-item value="problem1">
        <SolveProblem1 />
      </v-window-item>
      <v-window-item value="problem2">
        <SolveProblem2 />
      </v-window-item>
      <v-window-item value="problem3">
        <SolveProblem3 />
      </v-window-item>
      <v-window-item value="problem4">
        <SolveProblem4 />
      </v-window-item>
    </v-window>
  </v-card>
</template>
