<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
</script>
<template>
  <FirstComponent />
  <SecondComponent />
</template>
