<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterstores = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ counterstores.count }}</div>
  <br />
  <v-btn @click="counterstores.increment">INCREMINT</v-btn>
</template>
